@model IEnumerable<LibraryApp.Models.Book>

<h2>Мои взятые книги</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Дата возврата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author?.FirstName @book.Author?.LastName</td>
                <td>@book.ReturnAt.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
